:root {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15%;
  gap: 10px;
}

.col-2 {
  background-image: url("src/assets/img/auth-logo.png");
  background-size: 100% 100%; /* 🔥 Force image to stretch full width & height */
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}

.register-title {
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.register-subtitle,
.register-title {
  text-align: center;
}

.register-subtitle,
.register-email-text,
.register-password-text {
  font-size: 14px;
}

.register-subtitle {
  font-weight: 400;
  color: #636364;
}

.register-email-text,
.register-password-text,
.register-forgot-text,
.register-check-text {
  font-weight: 500;
  width: 100%;
}

.register-forgot-text {
  font-size: 12px;
  text-align: right;
}

.register-btn-style {
  background: #ea454c;
  width: 100%;
  height: 40px;
  border-radius: 12px;
}

.register-btn-style:hover,
.register-btn-style:focus {
  background: #d43f46 !important;
}

.register-signup-text {
  font-size: 12px;
  color: #595959;
  cursor: pointer;
}

.register-signup-text span {
  color: #ea454c;
}

.register-div-spacer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.register-password-input,
.register-email-input {
  height: 40px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
